/* * {
    border: 1px solid red;
} */

body {
    
    background: #3670483a;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 75px;
    background-color: rgba(218, 189, 23, 0.401);
}

.subtitle {
    width: 400px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.img {
    width: 500px;
    height: auto;
}

.box {
    background-color: rgba(218, 189, 23, 0.401);
    margin: 20px;
    height: 400px;
}

.nav-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 1.5em;
    text-decoration: none;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.personal-info {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    margin: 20px;
    width: 100px;
}

.bottom {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
    background: #00000016;
    height: 170px;
    padding: 50px;
}

.centered-links a {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}