body {
    margin: 0px;
    padding: 0px;
    background: #3670483a;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(218, 189, 23, 0.401);
    position: fixed;
    top: 0px;
    height: 70px;
    z-index: 2;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 17, 255);
}

a:hover {
    color: rgb(218, 64, 218);
}

.sign-out-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: row;
    margin: 60px;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    text-align: center;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.img {
    height: 600px;
    width: 400px;
} 

